.btn-outline-success {
    color: #3f2178;
    border-color: #3f2178;
}

.btn-outline-success:hover{
    background: #3f2178;
}

.fit-cover {
    object-fit: cover;
}

.img-container{
    height: 250px;
}
